<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <!-- <h1>Hello, world!</h1> -->

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
        New Transponder
    </button>
    <% var incrementer=0;
    if(typeof transponders == 'object' && transponders.length > 0){
      transponders.forEach(function(transponder) { %>
    <div class="card text-bg-light mt-2 mb-2 mx-auto" style="max-width: 70vw;">
      <!-- <div class="card-header">Header</div> -->
      <div class="card-body">
        <div class="row g-0">
          <div class="col-md-10">
            <% if(transponder.name == null){ %>
              <h5 class="card-title">Transponder <%= incrementer++ %></h5>
            <% }else{%>
              <h5 class="card-title"><%= transponder.name %></h5>
              <% }%>
            <p class="card-text">latitude: <%= transponder.latitude %> <br>longitude: <%= transponder.longitude %> <br>radius: <%= transponder.radius %> </p>
          </div>
          <div class="col-md-2 my-auto">
            <button type="button" class="btn btn-outline-danger"> <img src="/assets/images/icons8-delete-30.png" alt=""></button>
          </div>
        </div>
      </div>
    </div>
    <% })}else{ %>
      <div class="card text-bg-light mt-2 mb-2 mx-auto" style="max-width: 70vw;">
        <!-- <div class="card-header">Header</div> -->
        <div class="card-body">
          <h5>No transponder instances created yet</h5>
        </div>
      </div>
      <% } %>

    <div id="addModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="newTransponderForm" action="/" method="post">
                <input class="form-control m-2" id="name" name="name" type="text" placeholder="Name (Optional)">
                <input class="form-control m-2" id="latitude" name="latitude" type="number" step="0.00000001" placeholder="Latitude">
                <input class="form-control m-2" id="longitude" name="longitude" type="number" step="0.00000001" placeholder="Longitude">
                <input class="form-control m-2" id="radius" name="radius" type="number" step="0.00000001" placeholder="Radius">
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" form="newTransponderForm" class="btn btn-primary">Create Transponder</button>
            </div>
          </div>
        </div>
      </div>
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
